<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# TODO
    <link rel="shortcut icon" href="/static/img/todo.svg" type="image/svg+xml"/>
    <link rel="icon" href="/static/img/todo.svg" type="image/svg+xml"/>
    #}

    {% apply spaceless %}
        {# add global stylesheets and scripts outside of any blocsk to add them to the helpers before any others assets are added #}
        {# we use the view helper to have cache buster functionality #}

        {% if document.getTitle() is not empty %}
            {% do pimcore_head_title().set(document.getTitle()) %}
        {% endif %}

        {% if document.getDescription() is not empty %}
            {% do pimcore_head_meta().setDescription(document.getDescription()) %}
        {% endif %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% endapply %}

    {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
    {% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}
    {% if document.getTitle() is not empty %}
        <meta property="og:title" content="{{ document.getTitle() }}">
    {% endif %}
    {% if document.getDescription() is not empty %}
        <meta property="og:description" content="{{ document.getDescription()|e('html_attr') }}">
    {% endif %}
    <meta property="og:locale" content="{{ app.request.locale }}">
    <meta property="og:type" content="website">
    {% if document.getProperty('og_imageShare') is not empty %}
        <meta property="og:image" content="{{ document.getProperty('og_imageShare') }}">
    {% endif %}
    {# TODO: add protocol and canonical domain
    <meta property="og:url" content="{{ app.request.pathInfo }}">
    <link rel="canonical" href="{{ app.request.pathInfo }}">
    #}
    {% endblock %}

    {% block head_stylesheets deferred %}{{ pimcore_head_link() }}{% endblock %}

    {% block additionalHeaders %}{% endblock %}

    {# TODO: enable if cookieconsent required
    <meta property="proprietary:configuration" id="pageConfiguration"
        data-cc_message="{{ 'cookieConsent_message'|trans }}"
        data-cc_link="{{ 'cookieConsent_linkText'|trans }}"
        data-cc_dismiss="{{ 'cookieConsent_button'|trans }}"
        data-cc_href="{{ 'cookieConsent_linkTarget'|trans }}"
        data-cc_allow="{{ 'cookieConsent_allow'|trans }}"
        data-cc_deny="{{ 'cookieConsent_deny'|trans }}"
        data-cc_policy="{{ 'cookieConsent_policy'|trans }}"
    >
    #}
</head>
{% block bodyTag %}
<body>

{% endblock %}
<header>
    {% include 'partials/header.html.twig' %}
    {% include 'partials/navigation.html.twig' %}
</header>
<main>
    {% block content %}
        <div id="areablocks">
            {% set allowedBricks = [
            ] %}
            {{ pimcore_areablock("mainContent", {
                'allowed': allowedBricks,
            }) }}
        </div>
    {% endblock %}
    {% block additionalContent %}{% endblock %}
</main>

<footer>
    {% include 'partials/footer.html.twig' %}
</footer>

{# output scripts added before #}
{% block headscripts deferred %}
{{ pimcore_head_script() }}
{% endblock %}

{% block inlinescripts deferred %}
{{ pimcore_inline_script() }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
